*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width:100%;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 40px;

}

#navpart1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav h3 {
    font-size: 16px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;

}

#nav i {
    font-size: 16px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;

}

#nav h1 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 500;
    

}

#btn2 {
    border: none;
    color: white;
    background-color: orangered;
}

#main>h1 {
    
    font-size: 140px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-weight: 400;

}

img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

}

#img1 {
    transform: translate(-50%,-50%) rotate(-30deg);
    

}
#img2 {
    transform: translate(-50%,-50%) rotate(-20deg);


}
#img3 {
    transform: translate(-50%,-50%) rotate(-10deg);
    

}

#btm-left {
    position: absolute;
    bottom: 10%;;
    left: 3%;
    font-size: 17px;
}

#insta {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

#youtube {
    position: absolute;
    bottom: 10%;
    right: 7%;
}

#linkedin {
    position: absolute;
    bottom: 10%;
    right:4%;
}

#text h4 {
    position: absolute;
    bottom: 6%;
    right: 2%;
}



















